* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Roboto, 'san-serif';
    height: 100%;
}

#root {
    height: 100%;
}

button, input, textarea {
    border: none;
    cursor: pointer;
}

button, input, textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.field {
    /* max-width: 500px; */
    width: 100%;
    /* border: 1px solid; */
    padding: 50px 20px;
    margin: 0 auto;
    height: 80vh;
}

.field--column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.field__box {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid #9a9fa1;
}

.field__btn {
    color: white;
    background: turquoise;
    padding: 10px 20px;
    border-radius: 10px;
}

.message {
    max-width: 300px;
    margin-bottom: 10px;
}

.message p {
    font-weight: 300;
}

.message--right {
    text-align: right;
    margin-left: auto;
}

.message--left p {
    color: teal;
}
.message--left h6 {
    color: teal;
}

.send {
    color: #2b5278;
    cursor: pointer;
}

.root {
    background-color: white;
    height: 100%;
    padding-top: 64px;
    flex-wrap: nowrap !important
}

.title {
    color: white
}

.sidebar {
    width: 100%;
    max-width: 36ch;
    background-color: #FAFAFA;
    height: 100%;
    padding-right: 20px
}

.blue {
    color: white !important;
    background-color: #00a !important
}
.orange {
    color: white !important;
    background-color: #FF8C00 !important
}
.green {
    color: white !important;
    background-color: #7FFF00 !important
}

.inline {
    display: inline;
}

.menu {
    position: fixed;
    z-index: 100
}

.modal {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal__box:focus {
    outline: none;
}

.modal__box {
    padding: 50px 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.34);
}

.contact:hover {
    background: #ececec;
    cursor: pointer;
}